#search-site {
  padding: 11px;
  width: 380px;
  height: 30px;
  position: relative;
  display: flex;
  border: 2px solid rgb(193, 170, 170);
  border-radius: 30px;
}
.search:focus {
  outline: none;
}
.search {
  box-sizing: border-box;
  padding: none;
  margin: none;
  width: 400px;
  height: 30px;
  border: none;
  margin-left: 20px;
  font-size: 12px;
}
.wrap {
  width: 55px;
  height: 44px;
  border-radius: 50px;
  border: none;
  margin: 0 auto;
  position: relative;
  top: -7.5px;
  color: rgb(0, 0, 0);
}
.wrap:hover {
  background-color: rgb(216, 208, 208);
  cursor: pointer;
}
